
<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
      <h2>新規登録</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="col-lg-8">
      <%= render "devise/shared/error_messages", resource: resource %>
      <table class="table", style="border:none;">
      <tr>
        <th style="border:none;">名前</th>
          <td style="border:none;"><span>(姓) </span></td>
        <td style="border:none;">
          <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname"  %>
          <span>　(名)　</span>
          <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname"  %>
        </td>
    </tr>
    <tr>
      <th style="border:none;">フリガナ</th>
        <td style="border:none;"><span>(セイ) </span></td>
      <td style="border:none;">
        <%= f.text_field :lastname_ruby, autofocus: true, autocomplete: "lastname_ruby" %>
        <span>　(メイ) </span>
        <%= f.text_field :firstname_ruby, autofocus: true, autocomplete: "firstname_ruby" %>
      </td>
    </tr>
    <tr>
      <th style="border:none;">メールアドレス</th>
      <td style="border:none;"></td>
      <td style="border:none;">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <td>
    </tr>
    <tr>
      <th style="border:none;">郵便番号(ハイフンなし)</th>
      <td style="border:none;"></td>
      <td style="border:none;">
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
      </td>
    </tr>
    <tr>
      <th style="border:none;">住所</th>
      <td style="border:none;"></td>
      <td style="border:none;">
        <%= f.text_field :address, autofocus: true, autocomplete: "address", class:"form-control" %>
      </td>
    </tr>
    <tr>
      <th style="border:none;">電話番号(ハイフンなし)</th>
      <td style="border:none;"></td>
      <td style="border:none;">
        <%= f.phone_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
      </td>
    </tr>
    <tr>
      <th style="border:none;">パスワード（６字以上）</th>
      <td style="border:none;"></td>
      <td style="border:none;">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </td>
    </tr>
    <tr>
      <th style="border:none;">パスワード（確認用）</th>
      <td style="border:none;"></td>
      <td style="border:none;">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </td>
    </tr>
    </table>
    </div>
    <div class="col-lg-1"></div>
  <div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-3">
    <%= f.submit "新規登録", class: "btn btn-info" %>
    </div>
  </div>
  <div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-8">
    <h2>既に登録済みの方　</h2>
    <p class="orderday"><%= link_to "こちら", new_session_path(resource_name) %>　からログインしてください。</p>
  </div>
  </div>
<% end %>



