<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h2>注文履歴一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払い金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime('%Y/%m/%d/%H:%M') %></td>
              <td><%= order.postcode %><br>
                <%= order.address %><br>
                <%= order.name %><br>
              </td>
              <td>
                <% order.order_details.each do |order_detail|%>
                <%= order_detail.product.name %><br>
                <% end %>
                </td>
              <td><%= order.payment %></td>
              <td><%= order.status %></td>
              <td class="orderday"><%= link_to '表示する', order_detail_path(order) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @orders %>      
    </div>
  </div>
</div>

<br>

