<% provide(:title, "マイページ") %>
<div class="container">
<div class="row">
<div class="col-lg-4">
    <h3>マイページ</h3>
</div>
</div>
<div class="row">
<div class="col-lg-2">
    <h4>登録情報</h4>
</div>
<div class="col-lg-1">
    <%= link_to "編集する", root_path %>
</div>
<div class="col-lg-1">
    <%= link_to "パスワードを変更する", edit_user_password_path(current_user), class: "btn btn-info" %>
    </div>
</div>
<div class="row">
<div class="col-lg-9">
<table class="table table-bordered">
    <tr>
<th class="col-lg-2 active">氏名</th>
    <td><%= @user.firstname %><%= @user.lastname %></td>
    </tr>
    <tr>
    <th class="col-lg-2 active">カナ</th>
    <td><%= @user.firstname_ruby %> <%= @user.lastname_ruby %></td>
    </tr>
    <tr>
    <th class="col-lg-2 active">郵便番号</th>
    <td><%= @user.postal_code %></td>
    </tr>
    <tr>
    <th class="col-lg-2 active">住所</th>
    <td><%= @user.address %></td>
    </tr>
    <tr>
    <th class="col-lg-2 active">電話番号</th>
    <td><%= @user.phone_number %></td>
    </tr>
    <tr>
    <th class="col-lg-2 active">メールアドレス</th>
    <td><%= @user.email %></td>
    </tr>
    </table>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-2">
<h4>配送先</h4>
</div>
<div class="col-lg-1">
<%= link_to "一覧を見る",root_path %>
</div>
</div>
<div class="row">
<div class="col-lg-2">
<h4>注文履歴</h4>
</div>
<div class="col-lg-1">
<div class="link_index">
<%= link_to "一覧を見る",root_path %>
</div>