  <div id="container">
    <div class="theTarget">
      <div style="background-image: url(<%= asset_path('short2.jpg')%>)"></div>
      <div style="background-image: url(<%= asset_path('choco.jpg')%>)"></div>
      <div style="background-image: url(<%= asset_path('cheese.jpg')%>)"></div>
      <div style="background-image: url(<%= asset_path('cookie.jpeg')%>)"></div>
      <div style="background-image: url(<%= asset_path('macaroon.jpg')%>)"></div>
      <div style="background-image: url(<%= asset_path('short.jpeg')%>)"></div>
    </div>
  </div>
<br>
<br>
<br>
<br>