<% if @shipping.errors.any?%>
  <h3><%= @shipping.errors.count%>errors pfohibitted this shipping_address from being updated:</h3>
  <%= @shipping.errors.full_messages.each do |message| %>
  	<li><% message %></li>
  <% end %>
<% end %>
<h2>配送先編集</h2>
<%= form_for(@shipping) do |f| %>
	<div class="">
		<%=f.label :郵便番号%>
		<%=f.text_field :postcode %>
	</div>

	<div class="">
		<%=f.label :住所%>
		<%=f.text_field :address %>
	</div>

	<div class="">
		<%=f.label :宛名%>
		<%=f.text_field :name%>
	</div>

	<%=f.submit%>
<% end %>