<div class="container">
	<div class="row">
		<div>
			<h4>ショッピングカート</h4>
			<%= link_to "カートを空にする", cart_items_destroy_all_path(@cart_item), method: :delete, data: { confirm: "Are you sure?"}, class: "btn-sm btn-danger"%>
		</div>
			<table>
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
					<th></th>
				</tr>
				<% @cart_items.each do |f| %>
				<tr>
					<td><%= attachment_image_tag f.product, :image, style:"width: 100px; bottom: 5px;" %><%=f.product.name%></td>
					<td><%=(f.product.price * 1.1).round %></td>
					<%= form_for f, url: cart_item_path(f.id) do |cart_item|%>
					<td><%=cart_item.select :count,(1..10).each{ |i| p [i]} %>
						<%= cart_item.submit '変更', class: "btn-sm btn-success"%>
					</td>
					<% end %>
					<td><%= (f.product.price * 1.1 *f.count).to_i.to_s(:delimited )%>円
					</td>
					
					<td><%= link_to "削除する", cart_item_path(f.id), method: :delete, data: { confirm:"Are you sure?"},  class: "btn-sm btn-danger"%>
					</td>
				</tr>
				<% end %>
			</table>
	</div>
	<div class="row">
		<%= link_to "買い物を続ける"%>
	</div>
	<table>
		<tr>
			<th>合計金額</th>
			<th><%=(@total_price * 1.1).round %>円</th>
		</tr>
	</table>
	<div>
		<%= link_to "情報入力に進む" %>
	</div>
</div>