<h1>Admins::Products#edit</h1>
<p>Find me in app/views/admins/products/edit.html.erb</p>

<%= form_for(@product, url: admins_product_path(@product)) do |f| %>

   <%= f.attachment_field :image, placeholder: "" %>
	<div class="row">
		<h4>商品名</h4>
		<%= f.text_field :name %>
	</div>
	<div class="row">
		<h4>商品説明</h4>
		<%= f.text_field :introduce %>
	</div>
	<div class="row">
		<h4>ジャンル</h4>
		 <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
	</div>
	<div class="row">
		<h4>税込価格（税抜価格）</h4>
		<%= f.text_field :price, class:"form-control" %>
	</div>
	<div class="row">
		<h4>販売ステータス</h4>
        <%= f.select(:product_status, {'販売中': '販売中', '売り切れ': '売り切れ'}, {include_blank: "選択して下さい"}) %>
	</div>

	<div class="row">
	<div class="col-lg-2">
	<%= f.submit "変更を保存する", class: "btn btn-info" %>
	</div>
<% end %>