<div class="container">
	<h2>商品詳細</h2>
	<div class="row">
		<%= attachment_image_tag @product, :image ,fallback: "no_image.jpg"%>
	</div>
	<div class="row">
		<h4>商品名</h4>
		<%= @product.name %>
	</div>
	<div class="row">
		<h4>商品説明</h4>
		<%= @product.introduce %>
	</div>
	<div class="row">
		<h4>ジャンル</h4>
		<%= @product.genre_id %>
	</div>
	<div class="row">
		<h4>税込価格（税抜価格）</h4>
		<%= @product.price%>
	</div>
	<div class="row">
		<h4>販売ステータス</h4>
		<h4>ステータス</h4>
	</div>
	<%= link_to "Edit", edit_admins_product_path %>
</div>