<% provide(:title, "商品一覧") %>
<div class="row">
<div class="sidebar">
<%= render 'sidebar', genres: @genres %>

</div>
<div class="container">
<div class="row">
<h1 style="font-weight: bold">
	<% if @genre.present? == true %>
<%= @genre.name %><span class="count">
（全<%= @quantity %>件）
	<% else %>
<h1 style="font-weight: bold">商品一覧<span class="count">
（全<%= @quantity %>件）
</span>

<%= render "show", product: @product, index_products: @products %>

	<% end %>
	</div>
</div>