 <h3>商品詳細</h3>
<% provide(:title, "商品詳細") %>
<% if flash[:notice] %>
	<div class="alert alert-info text-center">
			<%= flash[:notice] %>
	</div>
<% end %>
<div class="container">
<div class="col-lg-5">
<%= attachment_image_tag @product, :image %>
</div>
<div class="col-lg-5">
<%= @product.name%></h1>
</div>
<div class="col-lg-5">
<%= @product.introduce %></p>
</div>
<div class="col-lg-5">
<%= @product.price * 1.1 %></strong>(税込)</p>

</div>