<h1>Admins::Orders#index</h1>

<p>Find me in app/views/admins/orders/index.html.erb</p>

<table>
	<thead>
		<tr>
			<th>購入日時</th>
			<th>購入者</th>
			<th>注文個数</th>
			<th>注文ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |f|%>
		<tr>
			<td>
				<%= link_to admins_order_path(f) do %>
				<%= f.created_at.strftime('%Y/%m/%d/%H:%M') %>
			    <% end %>
			</td>
			<td><%= f.user.firstname %><%= f.user.lastname %></td>
			<td><%= f.order_details.count %></td>
			<td><%= f.status %></td>
		</tr>
		<% end %>
	</tbody>
</table>
